/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 0;
}

body{
    font-family: "Lato", sans-serif;
}

/* banner style starts here */
.banner-section-container{
    max-width: 1440px;
    height: 650px;
    margin: 0 auto;
    background-color: #E554731A;
}

.banner-contents{
    display: flex;
    width: 90%;
    margin: auto;
}

.banner-text-container{
    width: 60%;
    height: 650px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px;
}

.banner-text-container h1{
    color: rgb(39, 39, 39);
    font-size: 50px;
}

.banner-text-container p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 16px;
    font-weight: 400;
}

.btn{
    padding: 18px 35px 18px 35px;
    border-radius: 8px;
    background-color: rgb(229, 84, 115);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
}

.banner-img-container{
    width: 40%;
    height: 650px;
    display: flex;
    justify-content: center;
}

.banner-img-container img{
    width: 50%;
    height: 650px;
    padding-top: 50px;
}


/* featured flower section style here */
.featured-flower-section{
    width: 90%;
    height: 650px;
    margin: 0 auto;
    margin-top: 140px;
}

.featured-flower-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.featured-flower-contents h2{
    color: rgb(39, 39, 39);
    font-size: 35px;
    font-weight: 800;
}

.featured-flower-contents p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 16px;
    font-weight: 400;
}

.featured-images{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    text-align: center;
}

.first-image{
    width: 33%;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    padding-top: 70px;
}

.second-image{
    width: 33%;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    padding-top: 70px;
}

.third-image{
    width: 33%;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    padding-top: 25px;
}

/* delivery section style starts here */
.delivery-section{
    width: 90%;
    height: 320px;
    margin: 0 auto;
    margin-top: 140px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
}

.section-contents{
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/* hot deal section style starts here */
.hot-deal-section{
    max-width: 1440px;
    height: 450px;
    margin: 0 auto;
    margin-top: 140px;
    background-color: #E554730D;
}

.hot-deal-contents{
    width: 90%;
    height: 450px;
    margin: 0 auto;
    display: flex;
}

.hot-deal-left{
    width: 50%;
    height: 450px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.hot-deal-left h2{
    font-size: 35px;
    font-weight: 800;
    color: #272727;
}
.hot-deal-left p{
    ont-size: 16px;
    font-weight: 400;
    color: #27272799;
}

.hot-deal-right{
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.span-all{
    color: #E55473;
}

/* instagram section style starts here */
.instagram-section-container{
    width: 90%;
    height: 600px;
    margin: 0 auto;
    margin-top: 140px;
}

.instagram-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.instagram-section-content h2{
    color: rgb(39, 39, 39);
    font-size: 35px;
    font-weight: 800;
}

.instagram-section-content p{
color: rgba(39, 39, 39, 0.6);
font-size: 16px;
font-weight: 400;
}

.instagram-image-content{
    width: 90%;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0 auto;
}

.insta-first-image{
    width: 300px;
    height: 396px;
}
.insta-first-image img{
    width: 100%;
    height: 100%;
}